form.signup,
form.login {
  margin-top: 50px;
}

.hide {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
background-image: url(https://image.freepik.com/free-photo/unfocused-room_1219-14.jpg?1);
}

